<div class='page dash'>

  <md-toolbar>
    <div class='container md-toolbar-tools'>
      <div layout='row' layout-fill layout-align='start center'>
        <h1 flex>Catwalk</h1>
      </div>
    </div>
  </md-toolbar>

  <div class='container addingCatwalk' ng-if='addingCatwalk'>
    <form name='addCatwalk' ng-submit='createCatwalk()'>

      <div class='onboarding'>
        <h2>Your FURst Catwalk!</h2>
        <p>Just tell us when you want your cat walked, and we'll walk it!</p>
      </div>

      <div class='fields'>

        <catwalk-fields catwalk='newCatwalk'></catwalk-fields>

        <md-button ng-show='addCatwalk.$valid' class='md-accent md-raised save'>PURRFECT!</md-button>

      </div>

    </form>
  </div>

  <div ng-repeat='catwalk in catwalks'>
  {{catwalk}}
  </div>


</div>
