.page.dash
  
  .addingCatwalk
    padding 0.25em 1em 1em 1em
    background-color #3F51B5 //#C5CAE9

    &.ng-enter
      -webkit-animation: fadeInDown 1s
      animation: fadeInDown 1s

    &.ng-leave
      -webkit-animation: fadeOutUp 0.5s
      animation: fadeOutUp 0.5s
      
  .onboarding
    color white
  
  .fields
    padding 0em 0.5em
    background-color white
    
  md-list
    h3, p
      margin 0
      padding 0
    p
      color #999
      
    .details
      margin-left 4em
  
  .loadspinner
    font-size 2em
    color #999
    text-align center
    padding 2em 0
    
    md-progress-circular
      margin 1em auto